{% extends "base.html" %}

{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
            <div class="mb-4">
                <span class="post-meta small">{{ article.date.strftime('%B %d, %Y') }}</span>
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4>
                            <a class="post-link" href="{{ article.url }}">
                                {{ article.title }}
                            </a>
                        </h4>
                        <span class="post-meta small">{{ article.summary }}</span>
                    </div>
                    <div class="tags text-end">
                        {% for tag in article.tags %}
                            <span class="{{ TAGS_COLORS.get(tag, 'badge bg-dark') }}"><a class="white-link" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %}
{% endblock content %}
