{% extends "base.html" %}

{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
            <div class="mb-4">
                <span class="post-meta small">{{ article.date.strftime('%B %d, %Y') }}</span>
                <div class="row">
                    <div class="col-9">
                        <h4>
                            <a class="post-link" href="{{ article.url }}">
                                {{ article.title }}
                            </a>
                        </h4>
                    </div>
                    <div class="col text-end">
                        {% for tag in article.tags %}
                            <span class="{{ TAGS_COLORS.get(tag, 'badge bg-dark') }}"><a class="white-link" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
